﻿<div class="mt-5">
    <h5>Add a new Book</h5>

    <div class="row">
        <div class="col-6">
            <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="title"
                           [(ngModel)]="model.title"
                           #title
                           required />
                </div>
                <div class="form-group">
                    <label for="author">Book Author</label>
                    <input class="form-control" type="text" name="author"
                           [(ngModel)]="model.author"
                           #author
                           required />
                </div>
                <div class="form-group">
                    <label for="subTitle">Subtitle</label>
                    <input class="form-control" type="text" name="subTitle" [(ngModel)]="model.subTitle" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" [(ngModel)]="model.description"></textarea>
                </div>
                <div class="form-group">
                    <label for="coverUrl">Cover Url</label>
                    <input class="form-control" type="text" name="coverUrl" [(ngModel)]="model.coverUrl" />
                </div>

                <div *ngIf="!model.title || !model.author" class="alert alert-danger">
                    Title and Author fields are required.

                </div>
                <a [routerLink]="['/']" class="btn btn-outline-primary">&laquo; Back</a>
                <a (click)="clear()" class="btn btn-outline-primary">Clear</a>
                <input class="btn btn-success" [disabled]="!bookForm.form.valid" type="submit" name="Add Book" value="Create Book" />
            </form>

        </div>
        <div class="col-6">
            <div><b>Suggestions</b> 
                 <div> (Type a title or author to see suggestions from Google Books; click cover to fill book form)</div>
            </div>
            <books-suggestions [searchString]="stringToSearch" (notifyBookSelected)="onNotifyBookSelected($event)"></books-suggestions>
        </div>
    </div>
</div>