﻿<br/>
<a [routerLink]="['/']" class="btn btn-outline-primary">&laquo; Back</a>

<div class="book-wrapper" *ngIf="book && bookHistory">

    
        <div class="row">

            <div class="artwork col-3" [style.backgroundImage]="'url(' + book.bookArtworkUrl + ')'">
                <div class="book-out">{{book.isAvailable ? "" : "OUT"}}</div>
            </div>
            <div class="book-info col col-9">
                <div class="title">{{book.bookTitle}}</div>
                <div class="subtitle">{{book.bookSubTitle}}</div>
                <div class="author">by {{book.bookAuthor}}</div>

                <div class="buttons">
                    <a class="btn-borrow btn btn-success" *ngIf="book.isAvailable" (click)="borrow()">Borrow Book</a>
                    <a class="btn-borrow btn btn-primary" *ngIf="book.doIHaveIt" (click)="return()">Return Book</a>

                </div>
                <span *ngIf="book.doIHaveIt">You have this book borrowed</span>
                <span *ngIf="!book.doIHaveIt && !book.isAvailable" style="color:darkred">Someone is reading this book; check back later</span>
            </div>
        </div>
        <div class="row mt-3  mb-5">
            <div class="col">
                <h5>Description</h5>
                <div *ngIf="!book.bookDescription"><i>no description available</i></div>
                {{book.bookDescription}}
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col">
                <h5>History</h5>

                <div *ngIf="!bookHistory.length">This book has not been borrowed; be the first!</div>

                <table *ngIf="bookHistory.length" class="history">
                    <thead>
                        <tr><th>Borrowed</th><th>Returned</th></tr>
                    </thead>
                    <tr *ngFor="let h of bookHistory">
                        <td>{{h.timeOut | date : "yyyy-MM-dd HH:mm:ss" }}</td>
                        <td>{{h.timeIn | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row mt-3 mb-5">

            <div class="col">
                <h5>Admin</h5>
                <a class="btn-borrow btn btn-danger" (click)="delete()">Delete Book</a>

            </div>
        </div>

</div>