﻿table.history{border-collapse:collapse;border:solid 1px silver}
table.history td, 
table.history th {
    border: solid 1px silver;
    padding: 5px;
}


.book-wrapper {
    margin-top:30px;
}

.title {
    font-weight: bold;
    font-size: 180%;
}

.author {
    font-style: italic
}


.artwork {
    height: 300px;
    background-size: 240px 300px;
    background-repeat: no-repeat;
}


.buttons {
    margin-top: 10px
}

.buttons .btn {
    color: white; margin-left:10px;
}


.book-out {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    z-index: 100;
    transform: rotate(-45deg);
    opacity: 0.7;
    color: darkred;
}

