﻿<div class="row">
    <div class="book-wrapper col-xl-4 col-md-6 col-sm-12" *ngFor="let b of books" [routerLink]="['/books',b.bookId]">
   
            <div class="row">
                <div class="book-out">{{b.isAvailable ? "" : "OUT"}}</div>
                <div class="artwork-wrapper col-6">
                    <a class="artwork" [style.backgroundImage]="'url(' + b.bookArtworkUrl + ')'"></a>
                </div>
                <div class="book-info col col-6">
                    <div class="title">{{b.bookTitle}}</div>
                    <div class="subtitle">{{b.bookSubTitle}}</div>
                    <div class="author">by {{b.bookAuthor}}</div>
                </div>
            </div>
            <div>
                <span *ngIf="b.doIHaveIt" style="color:darkgreen">You're borrowing this</span>
                <span *ngIf="!b.doIHaveIt && !b.isAvailable" style="color:darkred">Someone else has borrowed this book</span>
            </div>

    </div>
</div>
