﻿.book-wrapper {

    padding:20px 10px ;
    max-height:350px;
    cursor: pointer;
    
}
.book-wrapper:hover {
    background-color: LightGray;
}

.title {
    font-weight: bold;
    font-size: 120%;
}
.author {
    font-style: italic;
    overflow-y: hidden;
    max-height: 50px;
    
}
.subtitle  
{
    overflow-y: hidden;
    max-height: 100px;
    margin-bottom: 10px;
}

.artwork {
    display:block;
    height: 200px;
    background-size: 160px 200px;
    background-repeat: no-repeat;
    background-position: right;
}
.artwork-wrapper {
    width: 160px;
    height: 200px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/open_book.png');
}

.book-info {
    margin-left: 0;
    padding-left: 0;
    width:160px;
}


.book-out {
    font-size:50px;
    font-weight: bold;
    position:absolute;
    z-index:100;
    transform: rotate(-45deg);
    opacity: 0.7;
    color: darkred;
}
